.piececard {
    h3 {
        font-size: 20px;
        line-height: 22px;
    }
    vertical-align: top;
    font-family:"PT Serif Caption";
    background-color: #FFF;
    width: 33%;
    padding: 1em;
    border: 1px solid #A9A9A9
}
h1 {
    font-family:"Spirax";
    font-weight:400;
}
body {
    background-image:url('../img/extra_clean_paper.png');
}
