HostKey /opt/symphony/system/ssh_host_ecdsa_key
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
PermitEmptyPasswords yes
UsePAM no
PrintMotd yes
UsePrivilegeSeparation sandbox
#Banner none

# override default of no subsystems
Subsystem	sftp	/usr/lib/ssh/sftp-server
